<%- include('partials/header') %>

<%- include('partials/navbar2') %>



<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%=name%>
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->

				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="profile-nav">

              <a class="btn navbar-btn btn-default btn-md" href="/me" role="button">About Me</a>
              <a class="btn navbar-btn btn-default btn-md" href="/me/myposts" role="button">My Posts</a>
              <a class="btn navbar-btn btn-default btn-md" href="/me" role="button">My Endeavors</a>
              <a class="btn navbar-btn btn-default btn-md" href="/me" role="button">Help</a>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
      <a class="btn btn-warning btn-md" href="/meedit" role="button">edit</a>
            <div class="my-posts profile-content">

              <%  myPosts.forEach(function(post){%>
                <h1><%= post.title %></h1>

                <%const trimmedBody = post.body.substring(0, 100);%>
                <p><%= trimmedBody + "..."%></p>
                <a href="/posts/<%=post._id%>">Read More</a>


                <form action="/deletepost" method="post">
                <input id="postId" type=hidden name="postId" value="<%=post._id%>">
                <button class="btn btn-danger" type="submit" name="button">Delete</button>
              </form>

              <%});%>
            </div>

		</div>
	</div>
</div>







<%- include('partials/footer') %>
